@charset "UTF-8";
/* Archivo Pruebas */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Sofia Sans", sans-serif;
}

@media screen and (max-width: 991px) {
  nav a:hover {
    font-size: 20px;
  }
  .section_container_pruebas {
    flex-direction: column;
    align-items: center;
  }
  .section_container_pruebas div h3 {
    color: rgb(50, 50, 50);
    text-align: center;
    border: 30px solid #929AAB;
    width: 300px;
    background-color: #929AAB;
    border-radius: 30px;
  }
  .section_container_pruebas .boton_ver_mas {
    color: black;
    background-color: white;
    border-color: white;
  }
  .section_container_pruebas .ver_mas_texto {
    background-color: rgb(50, 50, 50);
  }
}
header {
  background-color: black;
}
header h1 {
  font-size: 0px;
}

/* Menu de Navegación */
.navbar {
  background-color: rgb(0, 0, 0);
  position: relative;
}
.navbar .carrito {
  float: right;
  text-decoration: none;
}
.navbar .carrito i {
  padding-right: 0.5rem;
}
.navbar a {
  color: white;
  padding: 30px;
  cursor: pointer;
  justify-content: center;
}
.navbar a img {
  width: 180px;
  height: auto;
}
.navbar a:hover {
  color: firebrick;
  text-decoration: overline;
}
.navbar .span_burger {
  color: white;
  cursor: pointer;
}
.navbar .border_burger {
  border-color: white;
  cursor: pointer;
}
.navbar .border_burger:hover {
  background-color: rgb(50, 50, 50);
}

/* Imagenes */
img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* Titulo de accesorios */
h2 {
  text-align: center;
  font: bold;
  padding-top: 5%;
}

/* Bloque de navegacion para los accesorios y repuestos */
.nav_block {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
}
.nav_block button {
  border: 1px solid rgb(220, 220, 220);
  transition: all 400ms ease;
  overflow: hidden;
  padding: 10px;
}
.nav_block button:hover {
  width: 160px;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  transition: all 0.7s;
}
.nav_block button img {
  width: 125px;
  height: auto;
}

/* Los productos */
.carrito {
  float: right;
  text-decoration: none;
  margin-right: 2rem;
}
.carrito i {
  padding-right: 0.5rem;
}

.wrapper {
  padding-bottom: 5rem;
}
.wrapper h3 {
  margin: 2rem;
  margin-bottom: 2rem;
}

.contenedor-productos {
  background-color: rgb(220, 220, 220);
  margin: 2rem;
  border-radius: 2rem;
  padding: 2rem;
}

.producto {
  padding-bottom: 4rem;
}

.producto-detalles {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.producto-detalles button {
  border-radius: 20px;
  padding: 10px;
  background-color: #c5db48;
  border: #c5db48;
  border: 2px solid #c5db48;
}
.producto-detalles button:hover {
  background-color: black;
  color: #ffffff;
}

.producto-imagen {
  width: 220px;
  height: auto;
  padding-bottom: 10px;
  border-radius: 20px;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* Carrito */
.carrito-vacio,
.carrito-comprado {
  color: black;
  text-align: center;
}

.contenedor-carrito {
  background-color: rgb(220, 220, 220);
  margin: 2rem;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #ffffff;
  padding: 2rem;
  border-radius: 20px;
  align-items: center;
}
.carrito-producto button {
  background-color: transparent;
  border: 0;
  color: firebrick;
  padding: 5px;
}

.carrito-producto-imagen {
  width: 8rem;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-volver {
  border-radius: 20px;
  background-color: #c5db48;
  border: #c5db48;
  padding: 10px;
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}
.carrito-acciones-volver i {
  padding-right: 0.5rem;
}

.carrito-acciones-vaciar {
  border-radius: 20px;
  background-color: #c5db48;
  border: #c5db48;
  padding: 10px;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  border-radius: 20px;
  background-color: rgb(220, 220, 220);
  padding: 10px;
  text-transform: uppercase;
}

.carrito-acciones-comprar {
  border-radius: 20px;
  background-color: #c5db48;
  border: #c5db48;
  padding: 10px;
}

.numerito {
  padding: 0.5rem;
}

.disabled {
  display: none;
}

/* Footer */
footer {
  grid-area: footer;
}
footer div {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  padding: 1em;
}
footer li {
  margin-right: 30px;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer_container ul {
  list-style: none;
}
.footer_container ul a {
  color: white;
  text-decoration: none;
}
.footer_container ul a:hover {
  color: #929AAB;
  text-decoration: underline;
}

.div_social_logo {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.social_logo {
  list-style: none;
  display: flex;
}
.social_logo img {
  width: 30px;
  height: 30px;
}
.social_logo img:hover {
  transform: scale(1.35);
}

/*# sourceMappingURL=estilos_accesorios.css.map */
